.header{
    .navbar{
        .navbar-brand{
            transition: 0.5s;
            &:hover{
                font-size: 25px;
            }
            .navbar_icon{
                width: 40px;
                transition: 0.5s;
                &:hover{
                    width: 50px;
                }
            }
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: -1.1rem;
            background-color: beige;
            overflow-x: hidden;
            padding: { 
                top: 4rem;
                left: 1rem;
            }
            transition: 0.5s;
            border-left: 2px solid grey;
            border-radius: 10px 0px 0px 10px;
            .closebtn {
                color: black;
                text-decoration: none;
                position: absolute;
                top: 0;
                right: 5px;
                font-size: 50px;
                margin-left: 5px;
                width: 25px;
                margin: {
                    top: 10px;
                    right: 2rem;
                }
                &:hover{
                    color: grey;
                    font-size: 55px;
                }
            }
            .carrito_title{
                font-size: 20px;
                color: coral;
            }
            .carrito-controles{
                .boton_carrito{
                    display: inline;
                    margin-top: 5px;
                    background-color: black;
                    border: 1px solid gray;
                    color: aliceblue;
                    border-radius: 4px;
                }
                .total_carrito{
                    display: inline;
                    font-size: 18px;
                }
            }
            .compras-anteriores{
                margin-top: 20%;
                border-top: 1px solid black;
            }
        }
        .contenido_navbar{
            .btn-group{
                .icon_usuario{
                    width: 30px;
                    margin-right: 1rem;
                    transition: 0.5s;
                    &:hover {
                        width: 35px;
                    }
                }
                .dropdown-menu{
                    width: 200px;
                }
            }
            .icon_carrito{
                width: 40px;
                transition: 0.5s;
                &:hover{
                    width: 50px;
                }
            }
        }
    }
}